body {
	background-color: #3778BC;
}
button#enterSite {
	color: black;
}
nav.navvy {
	background-color: rgba(35, 53, 78, .5);
	border: 2px solid #233548;
}
.modal-content {
   background-color: #BFCFE9;
}
h4 {
	display: inline;
	color: black;
}
p {
	display: inline;
	color: black;
}
h5 {
	display: inline;
	color: black;
}
#board .columns li {
	height: 76px;
	width: 75px;
	border: 4px solid #0E2159;
	margin-top: 8px;
}
section div.divBoard {
	border: 25px solid rgba(35, 53, 78, .5);
}
#board ul {
	display: inline-block;
	list-style-type: none;
}
.icon {
	color: black;
	font-size: 40px;
	margin: auto 10px;
}
li img {
	height: 75px;
	width: 75px;
}
img#connectPic {
	position: fixed;
	margin-top: 7%;
	margin-left: 5%;
}